
body{
  background-color: $brown;
  color: $black;
}

section{
  margin-left: 10%;
  width: 80%;
}


body{
  font-family: $mainfont;
}

main{
  background-color: $tan;
  width: 80%;
  margin-left: 10%;
  padding: 5px;
}
