
body{
  background-color: $brown;
  color: $black;
}

section{
  margin-left: 10%;
  width: 80%;
}


body{
  font-family: $mainfont;
}

main{
  background-color: $tan;
  width: 80%;
  margin-left: 10%;
  padding: 5px;
}



footer{
  width: 100%;
  background-color: $brown;
  text-align: center;
}




.bottomlinks{
  display: inline-flex;
  color: $black;
}

i{
  font-size: 2em;
  font-family: $icon-font;
  font-style: normal;
}
