
body{
  background-color: $brown;
  color: $black;
}

section{
  margin-left: 10%;
  width: 80%;
}


body{
  font-family: $mainfont;
  font-size: 1em;
}

main{
  background-color: $tan;
  width: 80%;
  margin-left: 10%;
  padding: 5px;
}



footer{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;

  background-color: $brown;
  text-align: center;
}




.bottomlinks{
  display: inline-flex;
  color: $black;
  margin-top: 0;
  margin-bottom: 0;
    padding-left: 0;
}

i{
  font-size: 2em;
  font-family: $icon-font;
  font-style: normal;
}

.logos a {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}

.copyright{
  font-size: .5em;
  i{
    font-size: 1em;
  }// i end

}//copyright end


@media (max-width: 750px) {
  body{
    font-size: .5em;
  }
  .bottomlinks{
    font-size: .25em;
  }
};
